# Ignore node stuff
node_modules/
yarn-error.log

# Ignore build stuff
cache/
build/
dist/

# Buidler cache
cached/

# Ignore solc bin output
bin/

# Others
.env
.DS_Store
.vscode

# Reports
/reports
